table {
  border: 1px solid #000;
}

td {
  border: solid 1px black;
  height: 110px;
  width: 110px;
  text-align: center;
  background-image: url("../img/tile.jpeg");
}

#gameboard, #navigation {
  margin: 20px auto;
}

#status h3 {
  float: left;
  font-weight: bold;
  margin: 6px 10px;
}

#status {
  border: 1px solid #000;
  margin: 0 auto 15px;
  overflow: auto;
  width: 660px;
}

#meter {
  background-color: #5cf9a2;
  height: 38px;
  width: 0%;
}

#meter.warning {
  background-color: #f6f95c;
}

#meter.danger {
  background-color: #ff5151;
}

#controls, #controls .row {
  margin: 0 auto;
  width: 250px;
}

#controls .col-xs-4 {
  margin: 0;
  padding: 0;
}

#controls .toggle {
  width: 97%;
}

#controls .movement {
  height: 30px;
  line-height: 1;
  margin: 4px 0px;
  width: 75px;
}

.flower {
  background-image: url("../img/flower.png");
}

.chair {
  background-image: url("../img/chair.png");
}

.tv {
  background-image: url("../img/tv.gif");
}

.fishbowl {
    background-image: url("../img/fishbowl.png");
}

.barrier {
  background-color: tan;
  background-size: cover;
}

.wall-left {
  border-left: 5px solid black;
}

.wall-right {
  border-right: 5px solid black;
}

.wall-up {
  border-top: 5px solid black;
}

.wall-down {
  border-bottom: 5px solid black;
}

.display-none {
  display: none;
}

.faster {
  font-size: 50px;
  color: blue;
  font-family: 'Faster One', cursive;
}
.accident-tile {
  background: radial-gradient(yellow 0%, tan 100%);
}

img {
  width: 100%;
  height: 100%
}

img.left {
  transform: scaleX(-1);
}

img.right {
  transform: scaleX(1);
}

 .collision img {
  background-image: url("../img/bam.png");
}
